* {
  font-family: 'Lato', sans-serif;
}

body,
html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  background-color: #2f3542;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
}